#  Forecasting Energy Demand

## Importing Necessary Libraries and Functions

The first thing we need to do is import the necessary functions and libraries that we will be working with throughout the topic. We should also go ahead and upload all the of the necessary data sets here instead of loading them as we go. We will be using energy production data from PJM Interconnection. They are a regional transmission organization that coordinates the movement of wholesale electricity in parts of the United States. Specifically, we will be focused on a region of Pennsylvania. We will also be using temperature data collected from the National Oceanic and Atmospheric Assocation (NOAA).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Preparing the Energy and Temperature Data

In [5]:
# Loading the Needed Data Sets 
weather = pd.read_csv('hr_temp_20170201-20200131_subset.csv')
energy = pd.read_csv('hrl_load_metered - 20170201-20200131.csv')

In [7]:
weather.head()

,STATION,DATE,REPORT_TYPE,SOURCE,HourlyDryBulbTemperature
0,72520514762,2017-02-01T00:53:00,FM-15,7,37.0
1,72520514762,2017-02-01T01:53:00,FM-15,7,37.0
2,72520514762,2017-02-01T02:53:00,FM-15,7,36.0
3,72520514762,2017-02-01T03:53:00,FM-15,7,36.0
4,72520514762,2017-02-01T04:53:00,FM-15,7,36.0

In [9]:
energy.head()

,datetime_beginning_utc,datetime_beginning_ept,nerc_region,mkt_region,zone,load_area,mw,is_verified
0,2/1/2017 5:00,2/1/2017 0:00,RFC,WEST,DUQ,DUQ,1419.881,True
1,2/1/2017 6:00,2/1/2017 1:00,RFC,WEST,DUQ,DUQ,1379.505,True
2,2/1/2017 7:00,2/1/2017 2:00,RFC,WEST,DUQ,DUQ,1366.106,True
3,2/1/2017 8:00,2/1/2017 3:00,RFC,WEST,DUQ,DUQ,1364.453,True
4,2/1/2017 9:00,2/1/2017 4:00,RFC,WEST,DUQ,DUQ,1391.265,True

In [10]:
data = {'MW': energy['mw'], 'Temp': weather['HourlyDryBulbTemperature'], 'Date': weather['DATE']}

In [11]:
df = pd.DataFrame(data)

In [12]:
print(df.dtypes)

MW      float64
Temp    float64
Date     object
dtype: object

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.dtypes)

MW             float64
Temp           float64
Date    datetime64[ns]
dtype: object

In [14]:
df['hour'] = pd.DatetimeIndex(pd.to_datetime(df['Date'])).hour
df['day'] = pd.DatetimeIndex(pd.to_datetime(df['Date'])).day
df['weekday'] = df['Date'].dt.dayofweek
df['month'] = pd.DatetimeIndex(pd.to_datetime(df['Date'])).month
df['year'] = pd.DatetimeIndex(pd.to_datetime(df['Date'])).year

df.head()

         MW  Temp                Date  hour  day  weekday  month  year
0  1419.881  37.0 2017-02-01 00:53:00     0    1        2      2  2017
1  1379.505  37.0 2017-02-01 01:53:00     1    1        2      2  2017
2  1366.106  36.0 2017-02-01 02:53:00     2    1        2      2  2017
3  1364.453  36.0 2017-02-01 03:53:00     3    1        2      2  2017
4  1391.265  36.0 2017-02-01 04:53:00     4    1        2      2  2017

In [27]:
df = df.set_index('month',append=True,inplace=True)

In [28]:
sum(df['Temp'].isnull())

TypeError: 'NoneType' object is not subscriptable